[2016-12-13 07:36] curantes opened #1 "Add support for API version 19"
The errata script is not working for Spacewalk version 2.6.

The error below comes when I run it after upgrading to Spacewalk 2.6

`INFO: Server is running API version 19`
`ERROR: API version 19 is not supported. Try upgrading this script.`

Please add support for API version 19.

[2016-12-14 21:55] stevemeier commented on #1
This should be fixed with the recent commits.
Please not that the tarball on the homepage has not been updated yet so please download errata-import.pl from GitHub to test. Thanks!

[2016-12-14 21:56] #1 closed

[2017-09-30 03:53] xxdrew21xx opened #2 "errata-import.pl no longer supported spacewalk 2.7"
Hi ,
I'm been using the script on spacewalk v2.6 and its doing great but after i upgraded to spacewalk v2.7 its no longer working and receiving error message that api not supported. Is it possible to have an updated script that support spacewalk v2.7 Thanks

./errata-import.pl --server spacewalk.internal --errata errata.latest.xml  --rhsa-oval com.redhat.rhsa-all.xml  --include-channels centos5x-b

[2017-09-30 13:28] stevemeier commented on #2
I have updated the script to accept API version 20 now.
Updated script is available here on GitHub as well as on the website.

Thanks for reporting this.

[2017-09-30 13:28] #2 closed

[2017-09-30 14:55] xxdrew21xx commented on #2
Thanks for the quick response.   :)

[2017-10-28 12:31] mithilasliit opened #3 "404 Not Found"
Hi,
I'm try to sync centos errata with space walk 2.7
after executing ./ya-errata-import.pl with all parameters it return "404 Not Found" in below code snip i try with https but ti was also fail with (LWP::Protocol::https not installed) but this component also installed in the server , please help
$client = new Frontier::Client(url => "http://$opt_server/rpc/api");

[2017-10-28 15:56] stevemeier commented on #3
Please run the script with --verbose and attach the log to this issue.
With the information you have provided so far I can not help you.

[2017-10-28 16:32] mithilasliit commented on #3
it return below lines

DEBUG: Called as /var/errata_import/errata-import.pl --server localhost --errata errata.latest.xml --include-channels=centoschannel --rhsa-oval=/var/errata_import/com.redhat.rhsa-all.xml --publish --debug
DEBUG: Version is 20170930
404 Not Found

[2017-10-28 17:32] stevemeier commented on #3
I have setup a clean Spacewalk 2.7 install on CentOS 7 and can not reproduce the issue.
Are you sure Spacewalk is running on localhost, port 80?
Have you logged in and created the initial organization and user?

[2017-10-29 01:14] mithilasliit commented on #3
Yes I'm able to login to spacewalk interface using created user , it running on https it reject http traffic.

[2017-10-31 17:35] stevemeier commented on #3
Sorry, I can't help you with that.

Please ask for advice on the Spacewalk mailing list: https://www.redhat.com/mailman/listinfo/spacewalk-list

[2017-10-31 17:35] #3 closed

[2018-03-04 11:14] angystardust opened #4 "errata is associated with only one channel"
Hi @stevemeier and first of all thanks for you very useful script!
Yesterday I noticed a very strange problem on my Spacewalk 2.7 setup with both Centos6 and CentOS-7 channels synced.
Let's take for example `CESA-2018-0093`. This is the relevant entry in the errata.latest.xml:
[code]
If I run your script with the following parameters:

at the end of the script execution, I can successfully see the

[2018-03-05 21:57] stevemeier commented on #4
I just ran an import on a fresh install of Spacewalk 2.7 with only the Updates channels synced for CentOS 6 and 7. This is the result I got:

[code]

This looks fine.

The only difference I see in your import is that you were updating an errata (possibly because of newly imported packages after a sync). This should not behave differently, but I will give it a try.

[2018-03-05 22:31] stevemeier commented on #4
OK, I think I have found the issue.

When the errata-import script detects that an errata already exists but finds new packages that belong to it (e.g. after a sync), it adds them using the addPackages API call.

The missing step after this seems to be a "re-publish", which is not initiated by addPackages.

This should be a fairly straight-forward addition to errata-import.pl.
I will look at the r

[2018-03-05 23:48] stevemeier commented on #4
I couldn't go to sleep with this bug still open.
The errata-import.pl script has been updated to handle this.
@angystardust: Please test and post some feedback here. Thanks!

[2018-03-07 14:02] angystardust commented on #4
Wow! I didn't expect a so fast reply and solution, @stevemeier ! I feel guilty for you lost sleep :)
Anyway, I tested the patch and I can say that it works as expected (I can now see all the errata <-> channel association) but...

Before the patch
[code]

After the patch:
[code]
As you can see, after the patch the script takes nearly 20 hours (!) to complete the execution.
Is this expected? It see

[2018-03-07 14:48] stevemeier commented on #4
The re-publishing should now be fixed.
Please check again, if possible. Thanks!

[2018-03-07 15:01] angystardust commented on #4
Great! I'm trying the new version now. I'll let you know as soon as it finish ;)

[2018-03-09 06:30] angystardust commented on #4
Sorry for the waiting, @stevemeier. I re-tested the script with the last patch and now it's fast again but in my last run there wasn't any new errata to create or something to update.

[code]

I also want to test the script in case of an update to an errata.
So, before launching the script again I modified by hand an errata (CEEA-2018:0232) through the WebGUI: I un-flagged one of the 2 channels (c

[2018-03-09 11:46] stevemeier commented on #4
The documentation of the Spacewalk API is, unfortunately, not great.
It documents the calls and parameters but does not contain information on limitations or requirements.

When the republishing is done in line 656, the scripts attempts to publish the errata to all channels that contain an affected RPM. This includes the channel(s) it has previously been published too.
I think Spacewalk is chockin

[2018-03-09 12:13] angystardust commented on #4
Thanks for taking care of this, @stevemeier!

[2018-03-22 10:11] angystardust commented on #4
Hi @stevemeier just to help you troubleshoot and analyse the issue, I'll paste here a snippet of the stack error that the errata-import.pl produces:

[code]
P.s.: associating by hand the relevant channel to the errata from the webgui and re-launching the script fixed the issue (I did this task for every errata that was breaking the script)

[2018-03-26 11:45] cheeseburger12 commented on #4
Hi,

i have the same problem since i updates spacewalk from 2.6 to 2.7. I get the folowing error:
INFO: Creating errata for CEBA-2014:1045

then on the console:

[2018-03-27 17:07] stevemeier commented on #4
@cheeseburger12: Can you please post the full stack trace? I don't really get any info from the piece you posted.

[2018-03-27 20:10] #4 closed

[2018-03-27 20:18] stevemeier commented on #4
@angystardust, @cheeseburger12
I have just committed a new version (20180327) that is more selective when doing the republishing.
I think this should fix the issue but I was not able to reproduce it recently so I am not 100% sure.
Please test it and let me know if it works. Thanks!

[2018-03-28 10:35] angystardust commented on #4
Thank you a lot @stevemeier. I'll test during the next weeks and let you know ;)

[2018-03-29 07:08] cheeseburger12 commented on #4
I've all times the problem that the "errata-import" script stops with:
Fault returned from XML RPC Server, fault code 2601: redstone.xmlrpc.XmlRpcFault: Errata already exists with advisory CEBA-2014:1081

I also clear the hole erratas with spacecmd(spacecmd -y "errata_delete *") and your wipe script. After that i see  the issue again.

In the frontend I could not see any more "erratas", but in the

[2018-03-29 09:50] stevemeier commented on #4
@cheeseburger12 Your issue sounds like a database inconsistency. My scripts asks the API for a list of existing Errata before trying to create them. So in your case the API did not report this Errata as existing but then complaint when the script tried to create it. Unfortunately, such a thing is almost impossible to reproduce.

[2018-03-29 10:19] cheeseburger12 commented on #4
Absolutely right. Thank you very much. I assumed that it is on the second channel

[2018-05-03 07:53] Slper opened #6 "503 Service Unavailable"
get error while trying to update errata with errata-import.pl script called as

./errata-import.pl --server IP_addr --errata errata.latest.xml --include-channels=cent6-64 --bugfix --security --enhancement --publish --quiet --debug

[2018-05-03 08:27] stevemeier commented on #6
Please provide the full debug output.
With the information provided, I can not do anything.

[2018-05-03 09:00] Slper commented on #6
# ./errata-import.pl --server IP_addr --errata errata.latest.xml --rhsa-oval com.redhat.rhsa-all.xml --include-channels="cent6-64" --publish
503 Service Unavailable
#

this is all i got after run script

[2018-05-03 09:11] stevemeier commented on #6
Well, this is an error from the Spacewalk API, so you need to look into your Spacewalk server.

[2018-05-03 09:36] Slper commented on #6
Spacewalk is up and running. could you please suggest where should i check?

[2018-05-03 09:43] stevemeier commented on #6
Have a look at /var/log/rhn/rhn_web_api.log, which is the API log.
Or contact the Spacewalk Mailing list for help -> https://www.redhat.com/mailman/listinfo/spacewalk-list

[2018-05-03 09:46] Slper commented on #6
error from log file is

[2018-05-03 15:34:19,864] ERROR - REQUESTED FROM: ::1 CALL: errata.getDetails(Admin, CESA-2105--X001) CALLER: (Admin) TIME: 0.006 seconds
redstone.xmlrpc.XmlRpcFault: The errata CESA-2105--X001 cannot be found.

i dowloaded errata from https://cefs.steve-meier.de/errata.latest.xml

[2018-05-03 10:00] stevemeier commented on #6
There is a lot more data in that log. The script should also output a log when run with --debug.
Without more data it's impossible to know, why your setup is not working.

[2018-05-03 10:26] Slper commented on #6
[2018-05-03 15:34:19,864] ERROR - REQUESTED FROM: ::1 CALL: errata.getDetails(Admin, CESA-2105--X001) CALLER: (Admin) TIME: 0.006 seconds
redstone.xmlrpc.XmlRpcFault: The errata CESA-2105--X001 cannot be found.
        at com.redhat.rhn.frontend.xmlrpc.BaseHandler.invoke(BaseHandler.java:171)
        at redstone.xmlrpc.XmlRpcDispatcher.dispatch(XmlRpcDispatcher.java:123)
        at com.redhat.rhn.

[2018-05-08 04:53] Slper commented on #6
It is my proxy problem so i fix script by put no porxy function into it.

[2018-05-08 04:53] #6 closed

[2018-05-10 13:42] Sebster7 opened #8 "Fault 2603: You are trying to publish an errata but have not selected any channels to publish to"
I got a timeout error after the script (Sept version) had added and published many errata, so I upgraded to the latest and greatest version and then I got the following error:

INFO: Errata for CESA-2014:1359 already exists
INFO: Adding packages to CESA-2014:1359
INFO: Republishing CESA-2014:1359
Fault returned from XML RPC Server, fault code 2603: redstone.xmlrpc.XmlRpcFault: You are trying to pu

[2018-05-10 15:44] stevemeier commented on #8
Please run the errata-import.pl script with --debug and attach the resulting output here.
Without this, it would be very hard to debug this.

Timeout errors are usually caused by the server not fulfilling the hardware specifications.

[2018-05-11 20:25] gwgrant opened #9 "CEFS Errata issue date in the future"
I'm having a bit of trouble with errata

CEBA-2018--0760,
CEBA-2018--0977,
and CEBA-2018--0684.

The issue date in (up-to-date) CEFS xml file is 2018-08-26, yet it was released by Red Hat and lists.centos.org in April 2018.

Here's the text from the XML file for the 1st erratum:

[code]

As this date is wrong and in the future it means it's not getting pulled into Spacewalk cloned channels, etc.

[2018-05-12 11:28] stevemeier commented on #9
I have found the issue in the date parser which seems to have affected a total of 34.
In each case the month was wrong while other data (day, year, time) was correct.

An updated errata XML will be released tomorrow which will include the corrections.

Here is a list of the affected errata for reference:
CEBA-2013--1445
CEBA-2013--1742
CEBA-2015--0005
CEBA-2015--0007
CEBA-2015--0073
CEBA-2015--008

[2018-05-13 09:27] stevemeier commented on #9
New data is now available and issue should be fixed.

https://github.com/stevemeier/cefs/commit/09c34f4b30f1d0c57b681c064ce82ff39ad26f5b

[2018-05-13 09:28] #9 closed

[2018-05-14 16:37] Sebster7 commented on #8
OK, attaching the last 27 lines of the output...

[Spacewalk Errata fault code 2603 redstone.xmlrpc.XmlRpcFault.txt](https://github.com/stevemeier/cefs/files/2001364/Spacewalk.Errata.fault.code.2603.redstone.xmlrpc.XmlRpcFault.txt)

Our servers do fulfill the hardware specs, but the errata-import.pl script does take a very long time to run.

[2018-05-14 19:35] #8 closed

[2018-05-14 20:39] stevemeier commented on #8
I have added a check to make sure that there actually are channels to republish to.
This has been commited, which is why GitHub closed this issue automatically.

Please test it and re-open this issue if you run into the same problem again. Thanks!

[2018-05-15 16:01] Sebster7 commented on #8
Thanks, this fixes the issue on my system:

INFO: Errata created: 106
INFO: Errata updated: 0

real    37m39.385s
user    9m32.204s
sys     0m13.656s

[2018-05-23 16:24] mrwilson opened #10 "CDN XML Formatting"
Hi,

We've noticed that the CDN-served errata.xml is being reformatted which is breaking XML parsing in downstream applications (see https://github.com/wied03/centos-package-cron/issues/24)

In the "raw" (still on [GitHub](https://raw.githubusercontent.com/stevemeier/cefs/master/errata.latest.xml)) an entry is formatted as

[code]

In the version served from the CDN

[code]

What we're observing i

[2018-05-23 17:22] stevemeier commented on #10
Oh, the wonders of XML.

I have updated the script that minifies the file delivered through the CDN and pushed out a new version, purging the old one. This should now be fixed.

Please let me know if that fixes your issue.

[2018-05-30 13:05] mrwilson commented on #10
Thanks for the speedy response! It's certainly fixed the centos-package-cron parsing. :)

[2018-05-30 13:07] #10 closed

[2018-05-30 15:18] angystardust opened #11 "[question] Planned support for Amazon Linux erratas"
Hi @stevemeier Just a question for you: do you plan support for importing Amazon ALAS (
Amazon Linux Security Center) erratas into Spacewalk?
https://alas.aws.amazon.com/

[2018-05-30 15:31] angystardust commented on #11
The idea is to write a parser for the RSS feed and convert it to an xml compatible for Spacewalk:
https://alas.aws.amazon.com/alas.rss

[2018-05-30 16:33] stevemeier commented on #11
If you want Amazon Errata in your Spacewalk server, simply sync their amzn-updates repository and the errata will be included, just like with EPEL.

The URL for spacewalk-repo-sync would be:
http://packages.eu-west-1.amazonaws.com/2018.03/updates/d2402a38af42/x86_64/

Replace eu-west-1 with your closest AWS region.

[2018-05-30 16:33] #11 closed

[2018-07-25 13:28] nachfuellbar opened #12 "Login failure"
Hello,

i don't know why this error isn't handled (it seems like there is exception handling for this)
I've got an error after authenticating with wrong password. I'm pretty sure i should get an return value of 3 from your script but i got 255.

`Fault returned from XML RPC Server, fault code 2950: redstone.xmlrpc.XmlRpcFault: Either the password or username is incorrect.`

Spacewalk version is 2.

[2018-09-20 13:21] Erkak opened #13 "Errata is not imported if package is newer than package mentioned in errata file"
Hello,

If package version in channel is newer than package that is mentioned in errata file, errata will not be imported in spacewalk.
For example, CESA-2017--2832 based on errata file can be fixed by the following packages:
<packages>nss-3.28.4-12.el7_4.i686.rpm</packages>
    <packages>nss-3.28.4-12.el7_4.src.rpm</packages>
    <packages>nss-3.28.4-12.el7_4.x86_64.rpm</packages>
    <packages>n

[2018-09-20 14:02] stevemeier commented on #13
This is not a bug.

Errata apply to one version of a package and one version only.

To use your example:
CESA-2017:2832 is fixed by nss-3.28.4-**12**.el7_4.x86_64.rpm (and others)
CEBA-2017:2942 is fixed by nss-3.28.4-**15**.el7_4.x86_64.rpm (and others)

When you install the newer package the older Errata will also be marked as resolved.

[2018-09-20 14:02] #13 closed

[2018-09-20 14:05] stevemeier commented on #12
Can you provides steps to reproduce this?
Looking at the code I don't see how this could happen.

[2018-09-20 14:27] Erkak commented on #13
Thank you for reply.
We use spacewalk for system management.
The matter is that CESA is related to security fixes (marked as "Critical" in Spacewalk), and CEBA is related to Bug Fixes (marked as "Not critical" in Spacewalk). So, if we want to apply just Critical updates to the system via Spacewalk, CESA-2017:2832 in such case will not be resolved.

Best regards

[2018-09-20 14:38] stevemeier commented on #13
If you install only CESA errata (security) only, then other bugs (CEBA) may persist.
The theory of installing only security updates sounds nice but has its shortcomings.

[2018-09-20 14:49] Erkak commented on #13
That's a pity!
Anyway, thank you very much for explanation.
I've marked issue as resolved.

[2018-09-21 10:38] nachfuellbar commented on #12
It took me some time to recall what i did ;)
It was as simple as this; only password was wrong:

export SPACEWALK_USER="XXXX"
export SPACEWALK_PASS="XXXXX"
/usr/sbin/errata-import.pl --server localhost --errata errata.latest.xml --rhsa-oval com.redhat.rhsa-all.xml --publish

[2018-10-02 14:51] nachfuellbar commented on #12
Just thought about how the OS would impact this and it seems like i forgot to mention:
Tested on CentOS 6.10

[2018-12-17 15:18] nryn opened #14 "416: Requested Range Not Satisfiable"
Hi,

When attempting to access errata from https://cefs.steve-meier.de/errata.latest.xml, we're getting a 416 response from nginx after being redirected to https://cefs.b-cdn.net/errata.latest.xml

In the mean time we're relying on the raw errata xml hosted here on github.

Thanks,

@nryn and @tsetsova

[2018-12-17 16:02] stevemeier commented on #14
This issue was caused by a failed upload to the CDN.
It should now be resolved.

[2018-12-17 16:02] #14 closed

[2019-01-23 03:15] andymcmullen opened #15 "Support for API version 22"
Hi,

I have a fresh install of Spacewalk synced to a Centos7 mirror.  when I tried running your errata import script, I got an error message that the script does not support API version 22.  Is support for the new API planned?

Thanks,

[2019-01-23 12:18] stevemeier commented on #15
Can you run the script with the `--ignore-api-version` parameter?

Usually new API versions are fine but they are not enabled by default.

[2019-01-25 14:06] stevemeier commented on #15
API version 22 is now supported with the latest commit:
https://github.com/stevemeier/cefs/commit/4c26f5e7a9051303e807433b8f3cb7e09546ac1e

[2019-01-25 14:06] #15 closed

[2019-02-18 22:14] blindphaze opened #16 "Bionic Package Versioning/Architecture Variations"
Ubuntu errata is parsed/imported based on the assumption that all packages available to 64bit systems have .amd64-deb.deb for the ending. This is not true for python-django (https://usn.ubuntu.com/3890-1/) for example.
Scripts expect to find:
python-django-1:1.11.11-1ubuntu1.3.amd64-deb.deb

Actual name is:
python-django-1.11.11-1ubuntu1.3:1.all-deb.deb

Another naming issue is package "snapd" (ht

[2019-02-18 22:18] #16 closed

[2019-03-28 00:18] leomatosouza opened #17 "Fault returned from XML RPC Server"
Hello,

I am having problems importing errata when it arrives in the part of security errata:

Fault returned from XML RPC Server, fault code -1: redstone.xmlrpc.XmlRpcFault: unhandled internal exception: Specified severity is not correct!

Spacewalk versions 2.8 and 2.9

Thanks

[2019-03-30 13:38] stevemeier commented on #17
Please run the script with `--debug` and provide the full output.
Given just this error message, I can not do any debugging.

[2019-03-30 14:42] leomatosouza commented on #17
Hi,

Follows the execution of the script with --debug

[centos6.9_x86_64_base.log](https://github.com/stevemeier/cefs/files/3025586/centos6.9_x86_64_base.log)

Thanks

[2019-04-01 21:02] stevemeier commented on #17
That is very odd. That is a valid severity according to the documentation and it worked for me:

https://spacewalkproject.github.io/documentation/api/2.8/handlers/ErrataHandler.html#setDetails
https://spacewalkproject.github.io/documentation/api/2.9/handlers/ErrataHandler.html#setDetails

I assume this is an issue with your Spacewalk installation.
Would you mind sending it to the Spacewalk Mailing

[2019-04-02 16:05] leomatosouza commented on #17
Hello,

It is really a problem with my installation. I performed a new installation and it worked for me.

I will sending it to the Spacewalk Mailing List.

Thank you very much.

[2019-04-02 16:05] #17 closed

[2019-06-18 08:23] kuPyxa opened #18 "No information about one kernel version"
Hi. Thank you for you doing for us.

We noticed, there is no information about kernel 3.10.0-957.20.1.el7. There are a lot of bugs with CVE fixed in it. Why it happened?

For example:

- [x86] x86/speculation: Move arch_smt_update() call to after mitigation decisions (Waiman Long) [1692597 1692598 1692599 1705815 1690335 1690348 1690358 1709296] {CVE-2018-12126 CVE-2
018-12127 CVE-2018-12130 CVE-2

[2019-06-18 09:00] stevemeier commented on #18
Looking at http://mirror.centos.org/centos/7/updates/x86_64/Packages/, I see no such package:

kernel-3.10.0-957.10.1.el7.x86_64.rpm | 2019-03-18 15:45 | 48M |  
kernel-3.10.0-957.12.1.el7.x86_64.rpm | 2019-04-29 15:45 | 48M |  
kernel-3.10.0-957.12.2.el7.x86_64.rpm | 2019-05-15 15:07 | 48M |  
kernel-3.10.0-957.21.2.el7.x86_64.rpm | 2019-06-10 12:36 | 48M |  

I also can't find an errata from Red

[2019-06-18 09:14] kuPyxa commented on #18
yum changelog kernel $(rpm -q --queryformat "%{INSTALLTIME:date}" kernel-3.10.0-957.12.2.el7.x86_64) | grep -A 100000 'Available Packages' | less

[2019-06-18 09:18] stevemeier commented on #18
I assume that only works on RHEL?
`yum` on my CentOS system does not support the `changelog` parameter

[2019-06-18 09:25] kuPyxa commented on #18
No.

uname -a
Linux xxxx.xxx.xx 3.10.0-957.12.2.el7.x86_64 #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-06-18 09:26] kuPyxa commented on #18
You need install yum-plugin-changelog

[2019-06-18 09:36] stevemeier commented on #18
Ok, it seems to require `yum-plugin-changelog` which I did not have installed.

My best guess is that 3.10.0-957.**20.1**.el7 and 3.10.0-957.**21.1**.el7 from the changelog were just never released and obsoleted by 3.10.0-957.**21.2**.el7.

[2019-06-18 09:58] kuPyxa commented on #18
May be will be correct include information from unreleased kernels or it is impossible?

[2019-06-18 10:03] stevemeier commented on #18
That's not my goal. I just try to bring the CentOS errata data into a machine-readable format.

[2019-06-18 10:05] kuPyxa commented on #18
Ok, thank you!

[2019-06-18 10:05] #18 closed

[2019-08-14 17:46] rafaelpoeys opened #19 "Specified severity is not correct"
`DEBUG: Processing CESA-2019:0373`
`DEBUG: Processing CESA-2019:0373 -- OVAL ID is oval:com.redhat.rhsa:def:20190373`
`DEBUG: Package: firefox-60.5.1-1.el6.centos.i686.rpm -> 56648 -> centos6-x86_64-updates`
`DEBUG: Package: firefox-60.5.1-1.el6.centos.src.rpm not found`
`DEBUG: Package: firefox-60.5.1-1.el6.centos.x86_64.rpm -> 60986 -> centos6-x86_64-updates`
`DEBUG: Using description from oval:

[2019-08-14 19:52] rafaelpoeys commented on #19
**log api**

`[2019-08-09 23:11:59,914] ERROR - REQUESTED FROM: 127.0.0.1 CALL: errata.set_details(admin, CESA-2010:0858, {severity=Important}) CALLER: (admin) TIME: 0.32 seconds`

**tail -f /var/log/rhn/rhn_web_api.log | grep errata.set_details**
`[2019-08-14 16:49:32,269] INFO  - REQUESTED FROM: 172.16.20.97 CALL: errata.set_details(admin, CESA-2019:0482, {issue_date=Tue Mar 19 14:34:21 BRT 2019

[2019-08-14 20:41] stevemeier commented on #19
What version of Spacewalk and errata-import are you running?

[2019-08-16 15:55] rafaelpoeys commented on #19
# Version information
my $version = "20190125";

apiversion = 22

[2019-11-26 19:12] ARSwa4qfy opened #20 "Trying to update errata db and fails with existing CVE."
Steve,

I used your script last week to add Errata to a new spacewalk server for CentOS.
Everything worked as I had expected, accept it looked like the errata only on one
of my parent channels that  were built with a "spacewalk-clone-by-date". So I decided I would
removed (spacewalk-remove-channel) the cloned channels and see if I could run the script
again. This is when I started to receive the:

[2019-11-26 21:41] stevemeier commented on #20
Hi Mike,

this seems to be one of the (too many) cases of inconsistencies in Spacewalk or its database.

When the script starts, it is getting a server inventory, basically asking Spacewalk which Channels, Packages and Errata it has. Existing errata are treated differently from new errata.

When it reaches CEBA-2019:1331 it assumes that Spacewalk does not know this Erratum since it was not reporte

[2019-12-20 13:54] jonmert opened #21 "Not included channels losing packages"
Hi,

I set up a new spacewalk server.

5 channels
- ch1 --> repo1
- ch2 --> repo1
- ch3  --> repo2
- ch4 --> repo2
- ch_daily --> repo1&+ repo2

by running `SPACEWALK_PASS=<SECURE> SPACEWALK_USER=<USER> /opt/tools/errata_import.pl --server localhost --errata errata.latest.xml --include-channels ch_daily --rhsa-oval=/tmp/com.redhat.rhsa-all.xml --publish`
the erata are created, but ch1-4 are loosin

[2019-12-20 14:13] jonmert commented on #21
This is the debug. Log. Maybee an configuration issue on my site?

DEBUG: Current channel membership for 4293: ch_daily,ch1,ch2
DEBUG: Package 4293 has been auto-pushed to ch1,ch2
DEBUG: Removing package 4293 from ch1
DEBUG: Removing package 4293 from ch2

[2019-12-22 11:29] stevemeier commented on #21
Hello,

while the excerpt from the debug log looks OK, I think it shouldn't have published to those channels in the first place since you specified --include-channels.

Could you please post the full debug log so that I can also have a look at the initialisation phase?
Thanks!

[2020-01-02 13:55] jonmert commented on #21
Hi @stevemeier

please see attached log. [debug.log](https://github.com/stevemeier/cefs/files/4016037/debug.log)

Before erata import package count:
centos7-parent	0
Sub-Channel ch_daily	11107
Sub-Channel ch1	10097
Sub-Channel ch2	10097
Sub-Channel ch3	1010
Sub-Channel ch4	1010

After erata import package count:
Sub-Channel ch_daily	11107
Sub-Channel ch1	7424
Sub-Channel ch2	7424
Sub-Channel ch3	3

[2020-01-02 17:36] stevemeier commented on #21
[errata-import.pl.txt](https://github.com/stevemeier/cefs/files/4016733/errata-import.pl.txt)

Hi @jonmert

I think I understand what is going on here. While --include-channels makes sure that only the certain channels are scanned, the removal part does not check wether the channel is in scope and may therefore go "out of bounds".

I have added code to check that in the attached version. Could you

[2020-01-06 09:27] jonmert commented on #21
Hi @stevemeier

works as expected. Now only the included channel is touched. Thank you very much.

[2020-01-06 09:27] #21 closed

[2020-04-15 16:56] kathirvel1980 commented on #12
Fault returned from XML RPC Server, fault code 2950: redstone.xmlrpc.XmlRpcFault: Either the password or username is incorrect

[2020-04-17 20:01] stevemeier commented on #12
@kathirvel1980 Can you confirm that you can log into the WebUI with the same credentials you have provided to the script?

[2020-07-02 12:35] moio opened #22 "License is not specified"
:wave: @stevemeier!

Context: I am a SUSE employee and an Uyuni contributor, and I am about to prepare a pull request to solve an incompatibility with the latest Uyuni release (one XMLRPC API has changed slightly - https://github.com/uyuni-project/uyuni/issues/2386, https://github.com/uyuni-project/uyuni/pull/2296).

Problem: in order for me to contribute to cefs va license for the project should

[2020-07-02 14:06] stevemeier commented on #22
I have added a note on licenses to the README.md
Is this sufficient for you?

[2020-07-02 14:44] moio commented on #22
Yes, thank you!

[2020-07-02 14:44] #22 closed

[2020-07-09 15:41] moio opened #26 "[Question] Sources for scripts to generate xml file"
:wave: @stevemeier!

Do you have any intention of publishing whatever you use in order to generate the errata XML files in this repo? I would assume they are not compiled manually :sweat_smile:

Thanks in advance!

[2020-07-10 06:36] stevemeier commented on #26
No, I do not.

[2020-07-10 06:36] #26 closed

[2020-07-10 07:44] moio commented on #20
@stevemeier I also had one such case reported against SUSE Manager.

Problem is there can be published errata that are not linked to any channel.

This can happen, for example, after you delete a channel - published errata that was only in that channel are not cleaned up.

You can check the existence of such published errata on your server via this one-liner:

[code]

If `errataImport.pl` tries to

[2020-07-10 08:37] moio opened #28 "[Question] is it normal that CentOS 8 does not have errata since May?"
What I see is:

$ wget https://cefs.steve-meier.de/errata.latest.xml
$ grep "<os_release>8</os_release>" < ./errata.latest.xml -B 5 | grep -Eo 'issue_date="[^"]*"' | sort  | tail
issue_date="2020-04-30 00:00:00"
issue_date="2020-04-30 00:00:00"
issue_date="2020-04-30 00:00:00"
issue_date="2020-05-05 00:00:00"
issue_date="2020-05-06 00:00:00"
issue_date="2020-05-11 00:00:00"
issue_date="2020-05-12

[2020-07-10 08:55] stevemeier commented on #28
% curl -sL https://cefs.steve-meier.de/errata.latest.xml | grep -B5 "<os_release>8</os_release>" | grep -Eo 'issue_date="[^"]*"' | sort | tail
issue_date="2020-05-06 00:00:00"
issue_date="2020-05-11 00:00:00"
issue_date="2020-05-12 00:00:00"
issue_date="2020-05-12 00:00:00"
issue_date="2020-05-13 00:00:00"
issue_date="2020-05-20 00:00:00"
issue_date="2020-05-28 00:00:00"
issue_date="2020-07-06 00:

[2020-07-10 09:11] moio commented on #28
Not really it seems:

[code]

(notice the file creation date, Jul 9, yesterday morning)

I do see the three extra patches in July **right now** as you reported:

[code]

(notice the file creation date, Jul 10, today)

 Still, nothing at all for the whole month of June, is that expected?

[2020-07-10 09:24] stevemeier commented on #28
The `issue_date` is a bit of a red herring for CentOS 8.

For CentOS 6 and 7, it is set to date of the first announcement on the mailing-list.
For CentOS 8, as there are no such announcements, it is currently identical to the Red Hat Erratum date.

Of course, the CentOS 8 RPMs are released with some delay, so there were updates in June.
Ideally, the issue date would be set to the date the file(s)

[2020-08-07 15:21] #28 closed

[2020-08-07 15:22] #20 closed

[2020-10-21 17:03] jweisner opened #31 "Can't use an undefined value as an ARRAY"
I'm getting the following error running the script on CentOS 7:

Steps to reproduce:
[code]

Output:
[code]

[2020-10-21 17:50] jweisner commented on #31
The script at commit 54987bce809a6409110a4eeff2e3dfd9101081df doesn't have this bug. The import task completed successfully with the same inputs.

[2020-10-21 18:55] stevemeier commented on #31
Can you please try again with `--debug`
Looking at the code I can't quite figure out how this could happen and I can't reproduce it on my test system.
Thanks!

[2020-10-22 16:35] jweisner commented on #31
Attached is the output of running the same command with `--debug`
[Terminal Saved Output.txt](https://github.com/stevemeier/cefs/files/5424192/Terminal.Saved.Output.txt)

[2020-10-22 18:50] g-kaplan commented on #31
Can confirm I've also run into this on the new build, would you like additional --debug output from mine?

[2020-10-23 12:44] stevemeier commented on #31
@g-kaplan Thanks, I think I already spotted the problem.

@jweisner I just checked in a new version which should fix the issue. Please give it a try, thanks

[2020-10-23 18:55] jweisner commented on #31
Completed successfully!

[2020-10-24 21:09] stevemeier commented on #31
Source of this issue was that the new find_package_by_name/find_packages_by_advisory subroutine did not handle --include-channels. It therefore returned packages which should not have been included in the search and the main loop (kind of rightfully) crashed.

To fix this, I have switched back to the previous subroutine which is tried and tested.

[2020-10-24 21:09] #31 closed

[2020-10-28 14:31] GSiemons commented on #12
/usr/local/centos/errata-import.pl --server 'lvt-suma-t01.ads.vhv.de' --debug --errata /usr/local/centos/errata.latest.xml -include-channels=centos7-x86_64-updates,centos7-x86_64,centos7-x86_64-extras --publish --rhsa-oval /usr/local/centos/com.redhat.rhsa-RHEL7.xml
DEBUG: Called as /usr/local/centos/errata-import.pl --server lvt-suma-t01.ads.vhv.de --debug --errata /usr/local/centos/errata.latest

[2020-10-28 14:37] GSiemons commented on #12
additional Info : ( Permission granted through org/channel admin status, or the channel is globally subscribable)  for the used User

[2020-10-28 14:53] stevemeier commented on #12
The way I read the SuSE Manager changelog, the CentOS channels are "special" and can therefore not be modified directly.
You need to clone them and apply the errata to the cloned channel, I think.

See https://www.suse.com/releasenotes/x86_64/SUSE-MANAGER/4.1/#_third_party_errata_information_for_vendor_channels

[2020-10-29 07:45] GSiemons commented on #12
Thank You very much Steve, we will try this and clone the CentOS Channels and apply than the errata

[2020-10-29 08:00] GSiemons commented on #12
He Steve, until i made this in the right way like you described it to me, IT´s Working the Right Way 8-)
INFO: Errata created: 85
INFO: Errata updated: 0
DEBUG: Logging out.

[2021-02-01 23:24] hdavidzhu opened #32 "What does the `os_release` signify, and how is it scraped?"
Tangentially, would love to see some more documentation on each of these fields. Thank you!

[2021-02-02 21:52] stevemeier commented on #32
`os_release` specifies the major release (7.x, 8.x) an errata applies to.

In CentOS 6 and 7 there was quite a bit of overlap but 7 and 8 are further apart so most errata apply to either 7 or 8.
One exception that comes to mind is the `tzdata` package, which is identical across major versions.

It can be scraped from the filename: el7 indicates an RPM is for major release 7, while el8 is used for

[2021-02-02 22:01] #12 closed

[2021-02-02 22:13] hdavidzhu commented on #32
Great, thank you!

[2021-02-02 22:13] #32 closed

[2021-04-29 13:36] digdilem opened #33 "No longer compatible with Uyuni 2021 04 following RPC changes."
Not an issue with the script itself, but this no longer works with Uyuni - the forked Spacewalk replacement.

Uyuni changed api version to 25 last year, and --ignore-api-version allowed the script to continue working.

However, as of the latest 2021 04 version of Uyuni, they have removed some API calls which now breaks the script.

Running the script returns this at the end and no errata is import

[2021-04-29 13:54] paususe commented on #33
@lucidd is this something we need to fix on the Uyuni side?

[2021-04-29 14:10] stevemeier commented on #33
@digdilem Could you post more context from the debug log, please? Thanks

[2021-04-29 14:51] digdilem commented on #33
Certainly -

I ran with --debug and redirected to a file, attached.

Output to stdio was:
[code]

[debug.txt](https://github.com/stevemeier/cefs/files/6399536/debug.txt)

[2021-04-29 16:15] stevemeier commented on #33
Doing some quick digging, it seems that Uyuni has introduced a new mandatory field: `advisory_status`

Changes were commit here very recently -> https://github.com/uyuni-project/uyuni/commits/master/java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java

According to the source code documentation: `(Must be one of the following: "final", "stable", "testing", "retracted")`

However,

[2021-04-29 16:40] paususe commented on #33
Ah, that's because of the support for retracted patches we have recently added. This is a SUSE-specific feature, we will talk about it tomorrow at Uyuni Community Hours:
https://github.com/uyuni-project/uyuni/wiki/Uyuni-Community-Hours

API docs here:
https://www.uyuni-project.org/uyuni-docs-api/uyuni/api/errata.html#apidoc-errata-create-1286968216

@hustodemon what should be the right value for C

[2021-04-29 16:53] stevemeier commented on #33
@paususe Shouldn't the API version number have been bumped up for this kind of change?

[2021-04-29 17:02] paususe commented on #33
Indeed. And we discussed it but I don't know why we did not bump it.

FYI: for CentOS, just use `final` as the `advisory_status`.

[2021-04-29 17:14] stevemeier commented on #33
I haven't followed Uyuni development but from what little I know it seems that there is now a version `2021.02` and `2021.04` out there, both reporting API version `25`.

The first doesn't understand `advisory_status` and the later requires it. How are clients supposed to deal with that?

[2021-04-29 17:35] paususe commented on #33
I'm afraid this time exception handling might be the only solution: try to insert one errata with advisory_status. If you get an error, try without.

[2021-04-29 18:55] stevemeier commented on #33
What about using `api.systemVersion` to distinguish?
On my old box this reports `2020.11`.

[2021-04-29 22:51] paususe commented on #33
That might work. It should report 2021.04 for Uyuni 2021.04.

[2021-04-30 21:42] stevemeier commented on #33
@digdilem Could you give the attached version a try? This should check for the Uyuni version and set `advisory_status` when required. Thanks!

[errata-import.pl.txt](https://github.com/stevemeier/cefs/files/6408205/errata-import.pl.txt)

[2021-05-01 07:33] digdilem commented on #33
@stevemeier
I'm pleased to confirm that this works perfectly and your changes seem to have resolved this issue.

Thank you very much for your prompt attention in sorting this.

Attached is the output from the run. No errors reported and returned a clean exit.

[centos-import.-nondebug-20210501SA.txt](https://github.com/stevemeier/cefs/files/6409046/centos-import.-nondebug-20210501SA.txt)

(Unrelat

[2021-05-01 07:33] #33 closed

[2021-05-01 07:35] phibid commented on #33
I confirm, so far so good, worked for me too.

Thanks !

[2021-05-01 10:35] stevemeier commented on #33
@digdilem The 404 probably appeared while an updated XML file was being deployed. I have changed the process slightly to hopefully prevent that in the future.

[2021-05-19 06:29] hustodemon commented on #33
Hello everyone! In the end this got handled as a bug in Uyuni (because of the breakage of backwards-compatibility) and has been fixen in this PR: https://github.com/uyuni-project/uyuni/pull/3750. Uyuni will default to `final` in case the `advisory_status` is not explicitly specified in the `createErrata` API call. The fix will be included in the next release.

[2021-06-02 17:29] hossman-12 opened #34 "redstone.xmlrpc.XmlRpcFault: You do not have permissions to perform this action."
I'm trying to import Errata for Cent 8 using the following command
/usr/local/centos/errata-import.pl --server 'xxxx' --errata /usr/local/centos/errata.latest.xml  --include-channels=centos8-x86_64  --publish --rhsa-oval /usr/local/centos/com.redhat.rhsa-all.xml --debug

It starts to import but fails.

INFO: Adding packages to CEBA-2020:5464:
DEBUG: Processing CEBA-2020:5465
INFO: Errata for CEBA-

[2021-06-02 20:14] stevemeier commented on #34
What server type and version are you using? Spacewalk, Uyuni, SuSE Manager?

Does the account have "Channel Administrator" rights on both channels?

[2021-06-03 12:08] hossman-12 commented on #34
Suse Manager.

The Account I'm using is the Main Admin account I created at install.  It does have Channel Admin rights and it does have manager rights when I check the individual Channels.

Here is a snipit from the rhn_web_api.log.   It was working and then failed.
[2021-06-02 14:23:30,990] INFO  - REQUESTED FROM: ###.###.###.### CALL: errata.applicable_to_channels(USERNAME, CEBA-2020:5459) CALL

[2021-06-03 12:21] stevemeier commented on #34
Ok, that's a SuSE Manager issue, not a script issue.

Please follow see here -> https://github.com/stevemeier/cefs/issues/12#issuecomment-717987374

[2021-06-04 11:45] hossman-12 commented on #34
This resolved my issue.
Thank You.

[2021-06-04 11:45] #34 closed

[2021-09-13 15:19] jbeaird opened #35 "CESA-2018:3140 bad duplicate"
Since about 9/3, we have been seeing a "bad duplicate" error:

Duplicate of CESA-2018:3140 differs in some fields:
<<<<<<< centos7_updates:issued
'2021-04-29 17:58:22'
=======
'2021-06-16 15:56:04'

Update notice CESA-2018:3140 (from centos7_updates) is broken, or a
bad duplicate, skipping.

Thanks. Let me know what other info I can provide.

[2021-09-13 20:05] stevemeier commented on #35
In the process of researching this issue, I have found more emails on the CentOS-Announce list which are erroneously linked to this erratum:

https://lists.centos.org/pipermail/centos-announce/2021-April/048309.html
https://lists.centos.org/pipermail/centos-announce/2021-June/048340.html

I have also found other discrepancies regarding:
- CESA-2021:2417, entirely missing
- CEBA-2021:1387, missing

[2021-09-13 20:35] jbeaird commented on #35
Great. Thanks!

[2021-09-14 08:43] stevemeier commented on #35
[code]

This issue date should now be correct.

[2021-09-14 19:49] jbeaird commented on #35
After rebuilding the repodata as per https://access.redhat.com/solutions/319983, I am not seeing further complaints from yum. Thank you!

[2021-09-16 12:26] stevemeier commented on #35
Fixed in commit `c780bb5af150142d1505ae4e29cb792d7fbfa1f4`

[2021-10-21 16:34] jbeaird opened #36 "various "bad duplicate" issues"
My systems are alerting with a variety of 'bad duplicates' today.

[code]

Thanks! Let me know if you need more info.

[2021-10-21 19:13] jbeaird commented on #36
I think I got it. It was not `yum` per se, but `yum-cron`.

Yes, we are using `errata-import.pl` and Spacewalk 2.10.

The 'errors' were coming from the hourly run of `yum-cron`, which utilizes `/etc/yum/yum-cron-hourly.conf`. And in there is this stanza:

[code]
If I change `debuglevel` to `-3`, I am no longer receiving hourly emails with the errors I detailed in the original post.

I will go ahea

[2021-10-21 19:57] stevemeier commented on #36
That makes sense then. I never used `yum-cron`, so I never encountered this.

Thanks for sharing the details so others can find this solution as well!

[2021-10-21 19:57] #36 closed, assigned to nobody

[2021-11-18 10:19] phibid opened #37 "Uyuni 2021.08: tzdata packages for EL8 made available on CentOS 7"
I have a strange issue that I have already described here https://github.com/uyuni-project/uyuni/issues/4357

I have reproduced this issue on the 2 last Uyuni release 2021-09 and 2021-08.

The issue is simple,, if I synchronize the CentOS 7 and 8 repositories, all is fine. However, when I execute the CentOS errata scripts, I can detect tzdata and tzdata-java CentOS 7 packages in the CentOS 8 repo

[2021-11-30 17:27] stevemeier commented on #37
Hello,

could you provide the log of a run of `errata-import.pl` with the `--debug` option enabled?
Spacewalk (and therefore Uyuni) have a habit of copying packages around, which is not caused by my script.
In fact, my script is trying to revert those changes (see the `--autopush` option).

[2021-11-30 20:36] phibid commented on #37
Hi !

Here it is: [centos_erratas.log](https://github.com/stevemeier/cefs/files/7628687/centos_erratas.log)

What I have done is to remove those 2 erratas from the Uyuni GUI:

[code]

The tzdata package mix-up between CentOS 7/8 repos then disappeared, and reappears again after the import of the erratas.

[2021-12-02 19:24] stevemeier commented on #37
So after checking the logs, I don't think `errata-import.pl` is at fault here.

During the run, it only detects the CentOS 7 packages:
[code]

After creating the errata, it also confirms that the channel membership is unchanged:

[code]

This may actually be caused by the Alma Errata import. There is nothing wrong with Alma or their errata data, it is just some annoying built-in function in Spacew

[2021-12-03 08:49] phibid commented on #37
I don't think that the issue is coming from the Alma erratas. In Uyuni, they are actually natively populated, no external script needed anymore.

What is happening is that this errata brings updated packages for EL7 and EL8 distributions, as confirmed by the RHBA (https://access.redhat.com/errata/RHBA-2021:4003) and by the metadata you generate from it:

[code]

From there, the errata import scrip

[2021-12-06 06:52] bochi commented on #37
Hi, I can confirm that the issue doesn't have to do with Alma Sync, I have CentOS7 and CentOS8 only and see the same problem.

[2021-12-06 10:09] stevemeier commented on #37
The package IDs in this log output are not the same as in the log you provided.
The IDs 146208 and 143171 do not show up in the log.
But regardless, that API call is correct.

There are two possible fixes:
- use the `--autopush` option
- run `errata-import.pl` twice, once for only the C7 channels and once for only the C8 channels

[2021-12-13 10:57] greinick commented on #37
Hello, I'm faced with the same issue. If running the import script twice, once for each channel, that's ok for me.

To check that, I'd like to "clean" the fault, but don't know how. Is it possible to remove the package and errate etc from the channels? Or how would you proceed? Thanks & regards

[2021-12-13 16:05] stevemeier commented on #37
Hello,

my suggestion would be to take the following steps:
- Remove all packages from the relevant errata
- Delete the errata
- Delete the copied packages from the channel(s) they should not be in
- Re-run `errata-import.pl` separately for C7/C8

Please note that if you delete an errata without removing its packages first, these packages will be deleted from the underlying channel. That's probabl

[2021-12-20 10:33] brhavel opened #38 "Errata script fails with: Unable to recognise encoding of this document at ... EncodingDetect.pm line 100."
--2021-12-20 11:32:28--  http://cefs.steve-meier.de/errata.latest.xml
Resolving cefs.steve-meier.de (cefs.steve-meier.de)... 13.32.21.36, 13.32.21.92, 13.32.21.71, ...
Connecting to cefs.steve-meier.de (cefs.steve-meier.de)|13.32.21.36|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://cefs.b-cdn.net/1fab63937ba4ddf4235ba2aad0934758f8e308d8/errata.latest.xml [fol

[2021-12-20 19:38] stevemeier commented on #38
Hello @brhavel,

please see the **News** section on the website:

[2021-12-20 21:56] stevemeier commented on #38
I have added some code in commit https://github.com/stevemeier/cefs/commit/f144faeb6103e7e4d0a1efd79c24de4c59bca900 to provide a better error message.

[2021-12-23 21:50] #38 closed

[2021-12-23 21:51] #37 closed

[2022-04-01 05:18] Fredouye opened #39 "Uyuni 2022.03 - API version 26"
Hi Steve

Uyuni 2022.03 is out, and brings API version 26 : https://www.uyuni-project.org/doc/2022.03/release-notes-uyuni-server.html#_new_xml_rpc_api_version_26

I've tested this simple modification to errata-import.pl, it seems to work :

[code]

Result :

[code]

Regards,

Frédéric

[2022-04-05 19:24] stevemeier commented on #39
Hello @Fredouye,

thanks for testing. I have updated the script accordingly and the website should update soon (CDN).

[2022-04-05 19:24] #39 closed

[2022-04-26 14:28] Fredouye opened #40 "XML file seems to be truncated when downloaded from https://cefs.steve-meier.de"
Hi Steve

when troubleshooting CentOS 7 errata from my Uyuni setup (no errata before 2021 where created), I've found out something rather strange<br>
XML file seems to be truncated when downloaded from this URL : https://cefs.steve-meier.de/errata.latest.xml

[code]

File is "only" 862 Kb long. Tested without proxy, from various (european) locations.

When downloading the XML file from your GitHub

[2022-04-26 14:58] stevemeier commented on #40
That's as designed.

My website provides errata for the last 180 days, which is sufficient for 95%+ of users.
For the other users and internet archeologist, there is the full dataset here on GitHub.